<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info"
	  internalLogFile="${basedir}/logs/nlog-internal.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write toto -->
	<targets>
		<!-- write logs to file -->
		<!--<target xsi:type="File" name="request-time" fileName="logs\request-time.txt"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

		<target xsi:type="File" 
				name="exceptions" 
				fileName="${basedir}/logs/all-exceptions.txt"
				createDirs="true"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" 
				name="allfile" 
				fileName="${basedir}/logs/app-log.txt"
				createDirs="true"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- All logs, including from Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="LogiTrack.*" minlevel="error" writeto="exceptions" />
		<!--<logger name="skirentalapi.middleware.requesttimemiddleware" minlevel="trace" writeto="request-time" />-->
	</rules>

</nlog>